@page "/accountPassword"

<h1>Promena passworda</h1>

    <EditForm Model="@Input" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="col-lg-12 col-sm-12">
            <small><label for="personalId">JMBG</label></small>
            <InputText id="personalId" class="form-control" @bind-Value=@Input.Id></InputText>

            <small><label for="pass">Stari Password</label></small>
            <InputText type="password" id="pass" class="form-control" @bind-Value=@Input.OldPassword></InputText>

            <small><label for="passnew">Novi Password</label></small>
            <InputText type="password" id="passnew" class="form-control" @bind-Value=@Input.NewPassword></InputText>

            <small><label for="but">&nbsp;&nbsp;</label></small>
            <hr />
            <button id="but" type="submit" class="btn btn-success">Promeni</button>
        </div>
    </EditForm>


